.holiday-main {
  width: 100%;
  padding: 30px 20px;

  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  max-width: 1200px;
}

.image img {
  width: 100%;
  height: auto;

  display: block;

  object-fit: contain;

  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(1, 62, 55, 0.2);
}
